body {
    background-color: #0051a1; /* Color de fondo claro */
}

.card {
    background-color: #02972f9d; /* Fondo blanco para la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card h2 {
    color: #000000; /* Color del título */
}

#resultado {
    margin-top: 20px; /* Espacio superior para el texto de resultado */
    font-weight: bold; /* Negrita para el texto de resultado */
}
